Repository badgeteam/ESP32-platform-firmware, pull requests merged in 2020-03, with the labels that each got.

#194 Cz19/release
  firmware/components/driver_display_hub75/driver_hub75.c
  firmware/components/driver_display_hub75/i2s_parallel.c
  firmware/configs/campzone2019_defconfig
  firmware/main/ota_update.c
  firmware/python_modules/campzone2019/_boot.py
  firmware/python_modules/campzone2019/checkforupdates.py
  firmware/python_modules/campzone2019/clock.py
  firmware/python_modules/campzone2019/dashboard/terminal/installer.py
  firmware/python_modules/campzone2019/dashboard/terminal/launcher.py
  firmware/python_modules/campzone2019/dashboard/tools/update_firmware.py
  firmware/python_modules/campzone2019/default_icons.py
  firmware/python_modules/campzone2019/installer.py
  firmware/python_modules/campzone2019/launcher.py
  firmware/python_modules/campzone2019/ntp.py
  firmware/python_modules/campzone2019/slider.py
  firmware/python_modules/campzone2019/slider_config.py
  firmware/python_modules/campzone2019/tasks/otacheck.py
  firmware/python_modules/campzone2019/term_menu.py
  firmware/python_modules/campzone2019/uinstaller.py
  firmware/python_modules/campzone2019/uinterface.py
  firmware/python_modules/campzone2019/uninstall.py
  firmware/python_modules/campzone2019/update.py
  firmware/python_modules/campzone2019/valuestore.py
  firmware/python_modules/generic/upysh.py
  firmware/python_modules/shared/boot.py
  firmware/python_modules/shared/wifi.py
Labels: CampZone2019

#201 Improve WiFi API
  firmware/python_modules/shared/wifi.py
Labels: python

#174 Add partition table upgrade function for SHA2017 and Disobey 2019 badges
  firmware/components/micropython/esp32/modesp.c
  firmware/configs/disobey2019_defconfig
  firmware/configs/sha2017_defconfig
  firmware/main/Kconfig.projbuild
  firmware/partitions/README.md
  firmware/partitions/disobey2019_16MB_with_bpp.csv
Labels: Disobey2019, SHA2017

#206 Add the timeout and redirect handling features back into urequests.py
  firmware/python_modules/shared/urequests.py
Labels: python
